<%= render "shared/second_header" %>

<%= form_with model: @user, url: user_registration_path, class: 'registration-main', local: true do |f| %>
<div class="form-wrap">
  <h2 class="form-header-text">新規登録</h2>

  <%= render "devise/shared/error_messages", resource: resource %>

    <%= f.text_field :nickname, placeholder: "ニックネーム",  autofocus: true, class:"form-field" %>
    <%= f.email_field :email, autocomplete: "email", placeholder: "Email", class:"form-field" %>
    <%= f.password_field :password, autocomplete: "new-password", placeholder: "パスワード",  class:"form-field" %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "確認のためもう一度パスワードを入力してください", class:"form-field" %>

  <div>
    <%= f.submit "Sign up", class:"sign-up-btn" %>
  </div>
  <div class="link">
    <%= link_to "アカウントをお持ちの方はこちらへ", new_user_session_path, class:"sign-in-link"%>
  </div>
</div>
<% end %>

