<header class="top-header">
<div class="nav">
  <%= link_to "Share Wallet", root_path, class:"top-title" %>
  <ul class='right-lists'>
    <% if user_signed_in? %>
      <li><%= link_to current_user.nickname, "#", class: "user-nickname" %> の家計簿 </li>
      <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li> 
      <% if current_user.pair_id %>
        <li> ペア登録 : <%= link_to current_user.pair.nickname, "#", class: "pair-nickname" %></li>
      <% end %>
    <% else %>
      <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
      <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
    <% end %>
  </ul>
</div>
</header>