<%= render "shared/second_header" %>

<%= form_with model: @user, url: user_session_path, class: 'session-main', local: true do |f| %>
  <div class="form-wrap">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class:"session-form-field" %>
      <%= f.password_field :password, autocomplete: "current-password", placeholder: "パスワード", class:"session-form-field" %>
    <div class="actions">
      <%= f.submit "ログインする", class:"log-in-btn"%>
    </div>

    <div class="link">
      <p>アカウントをお持ちではないですか？<p>
      <%= link_to "お持ちでない方はこちらへ", new_user_registration_path, method: :get, class:"sign-up-link" %>
    </div>
  </div>


<% end %>