<%# フォーム入力欄 %>
<%= form_with(model: payment, local: true, class:"input-form") do |f| %>

  <%# エラーメッセージの表示 %>
  <%= render 'shared/error_messages', model: f.object %>
  <%# // エラーメッセージの表示 %>

    <div class="form-part">
      支払い金額<br/>
      <%= f.text_field :price, class:"price-form payment-form", id:"payment-info", placeholder:"支払い金額を入力してください" %>
    </div>
    <div class="form-part">
      <%= f.date_field :registration_date, class:"payment-form" %>
    </div>

    <div class="form-part">
      カテゴリーの選択<br/>
      <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"select-box payment-form", id:"payment-category"}) %>
    </div>
    <div class="form-part">
      備考欄<br/>
      <%= f.text_area :memo, class:"memo-form payment-form", id:"payment-info", placeholder:"備考があれば入力してください", rows:"3", maxlength:"200" %>
    </div>
    <div class="form-part">
      <%= f.submit "入力を保存する", class:"payment-btn payment-form" %>
    </div>
    <div class="form-part back-btn-form">
      <%= link_to "トップページへ戻る", root_path, class:"back-btn payment-form" %>
    </div>
<% end %>
<%# //フォーム入力欄 %>
