<%= render "shared/header" %>

<p>Hello World</p>

<%# ペア登録機能 %>
  <% if user_signed_in? %>
    <% unless @pair_check %>
      <%= form_with(url: follow_payments_path, local: true, method: :post) do |f| %>
        <select name="follow_id">
          <option>一緒に使う相手を選んでください</option>
          <% User.where.not(id: current_user.id).where(pair_id: nil).each do |user| %>
          <option value=<%= user.id %>><%= user.nickname %></option>
          <% end %>
        </select>
        <input name="another_id" type="hidden" value=<%= current_user.id %>>

        <div class="follow-btn-contents">
          <%= f.submit "登録する" ,class:"follow-btn" %>
        </div>
      <% end %>
    <% end %>
  <% end %>
<%# // ペア登録機能 %>

<%# 新規購入フォーム %> 
  <% if user_signed_in? %>
    <%= link_to "新規入力画面に進む", new_payment_path %>
  <% end %>
<%# //新規購入フォーム %>

<%# 支払い情報表示欄 %>
  <% if user_signed_in? %>
    <% @payments.each do |payment| %>
      <p> 日にち <%= payment.registration_date %></p>
      <p> 金額 <%= payment.price %></p>
      <%= link_to "詳細", payment_path(payment.id) %>
      <%# <%= link_to "編集する", edit_payment_path(payment.id) %>
      <%# <%= link_to "削除する", payment_path(payment.id), method: :delete%>
    <% end %>
  <% end %>
<%# // 支払い情報表示欄 %>
<% if user_signed_in? %>
  <% if @pair_check %>
    <p><%= link_to "精算を行う", calculate_page_payments_path %></p>
  <% end %>
<% end %>