<%= render "shared/header" %>

<%# 未ログイン時のトップページ %>
<% unless user_signed_in? %>
  <div class="top-sentence">
        <div class="top-sentence-left">
          <%= image_tag "y1162-1.png", class:"icon" %>
        </div>
        <div class="top-sentence-center">
            <%= image_tag "y0849.png", class:"icon"%>
            <div class="center-sentence">
              <p>ようこそ、</p>
              <p><span class="title-in-sentence">Share Wallet</span>へ。</p>
            </div>
        </div>
        <div class="top-sentence-right">
          <%= image_tag "y1150.png", class:"top-sentence-right-icon" %>
      </div>
  </div>
  <div class="sub-sentence">
    <h2>Share Walletは家計と個人のお財布を分けるための家計簿アプリです。</h2>
    <h2>便利な家計簿アプリを体験してみませんか？</h2>
  </div>
  <div class="bottom-icon">
    <%= image_tag "y1161-2.png", class:"icon" %>
    <%= image_tag "y1155.png", class:"icon" %>
  </div>
<% end %>
<%# //未ログイン時のトップページ %>
<div class="main-page">
  <div class="page-left">

    <%# １ヶ月間の合計支払い表示機能 %>
    <div class="result-part">
      <% if user_signed_in? %>
        <% if @pair_check %>
          <div>
            <%= image_tag "y0009.png", class:"result-icon" %>
          </div>
          <div>
            <p>それぞれの直近１ヶ月の合計は・・・</p>
            <p><%= current_user.nickname %>さん： <%= @main_result %>円です </p>
            <p><%= current_user.pair.nickname %>さん： <%= @pair_result %>円です </p>
            <p>二人の１ヶ月間の支払い合計額は <%= @main_result + @pair_result %>円です </p>
          </div>
        <% end %>
      <% end %>
    </div>

    <%# //１ヶ月間の合計支払い表示機能 %>

    <%# 支払い情報表示欄 %>
      <% if user_signed_in? %>
        <% @payments.each do |payment| %>
          <p> 日にち <%= payment.registration_date %></p>
          <p> 金額 <%= payment.price %></p>
          <%= link_to "詳細", payment_path(payment.id) %>
          <%# <%= link_to "編集する", edit_payment_path(payment.id) %>
          <%# <%= link_to "削除する", payment_path(payment.id), method: :delete%>
        <% end %>
      <% end %>
    <%# // 支払い情報表示欄 %>
  </div>

  <div class="page-right">
    <%# ペア登録機能 %>
      <% if user_signed_in? %>
        <% unless @pair_check %>
          <%= form_with(url: follow_payments_path, local: true, method: :post) do |f| %>
            <select name="follow_id">
              <option>一緒に使う相手を選んでください</option>
              <% User.where.not(id: current_user.id).where(pair_id: nil).each do |user| %>
              <option value=<%= user.id %>><%= user.nickname %></option>
              <% end %>
            </select>
            <input name="another_id" type="hidden" value=<%= current_user.id %>>

            <div class="follow-btn-contents">
              <%= f.submit "登録する" ,class:"follow-btn" %>
            </div>
          <% end %>
        <% end %>
      <% end %>
    <%# // ペア登録機能 %>
    <%# 新規購入フォームのリンク %> 
      <% if user_signed_in? %>
        <%= link_to "新規入力画面に進む", new_payment_path %>
      <% end %>
    <%# //新規購入フォームのリンク %>

    <%# 精算ページのリンク %>
      <% if user_signed_in? %>
        <% if @pair_check %>
          <p><%= link_to "精算を行う", calculate_page_payments_path %></p>
        <% end %>
      <% end %>
    <%# //精算ページのリンク %>
  </div>
</div>