<%= render "shared/header" %>

<p>Hello World</p>

  <% if user_signed_in? %>
    <%= form_with(url: follow_payments_path, local: true, method: :post) do |f| %>
      <select name="follow[follow_id]">
        <option>一緒に使う相手を選んでください</option>
        <% User.where.not(id: current_user.id).each do |user| %>
        <option value=<%= user.id %>><%= user.nickname %></option>
        <% end %>
      </select>

      <div class="follow-btn-contents">
        <%= f.submit "登録する" ,class:"follow-btn" %>
      </div>
    <% end %>

  <% end %>


