<%= render "shared/header" %>

<%# 未ログイン時のトップページ %>
<% unless user_signed_in? %>
  <div class="logout-top">
    <div class="top-sentence">
          <div class="top-sentence-left">
            <%= image_tag "y1162-1.png", class:"icon" %>
          </div>
          <div class="top-sentence-center">
              <%= image_tag "y0849.png", class:"icon"%>
              <div class="center-sentence">
                <p>ようこそ、</p>
                <p><span class="title-in-sentence">Share Wallet</span>へ。</p>
              </div>
          </div>
          <div class="top-sentence-right">
            <%= image_tag "y1150.png", class:"top-sentence-right-icon" %>
        </div>
    </div>
    <div class="sub-sentence">
      <h2>Share Walletは家計と個人のお財布を分けるための家計簿アプリです。</h2>
      <h2>便利な家計簿アプリを体験してみませんか？</h2>
    </div>
    <div class="bottom-icon">
      <%= image_tag "y1161-2.png", class:"icon" %>
      <%= image_tag "y1155.png", class:"icon" %>
    </div>
  </div>
  <%# //未ログイン時のトップページ %>
<% else %>
  <div class="main-page">
    <div class="page-left">

      <%# １ヶ月間の合計支払い表示機能 %>
      <div class="result-part">
          <% if @pair_check %>
            <div>
              <%= image_tag "y0009.png", class:"result-icon" %>
            </div>
            <div>
              <p>それぞれの直近１ヶ月の合計は・・・</p>
              <p><%= current_user.nickname %>さん： <%= @main_result %>円です </p>
              <p><%= current_user.pair.nickname %>さん： <%= @pair_result %>円です </p>
              <p>二人の１ヶ月間の支払い合計額は <%= @main_result + @pair_result %>円です </p>
            </div>
          <% end %>
      </div>
      <%# //１ヶ月間の合計支払い表示機能 %>

      <div class="page-left-bottom">
        <%# 新規購入フォームのリンク %> 
        <div class="input-link">
            <div>
              <%= link_to "新規入力画面へ",  new_payment_path, class:"link-text" %>
            </div>
            <div>
              <%= link_to image_tag("y0455.png", class:"link-icon"), new_payment_path %>
            </div>
        </div>
        <%# //新規購入フォームのリンク %>

          <%# 精算ページのリンク %>
        <div class="calculate-and-find-link">
          <% if @pair_check %>
            <div class="calculate-link">
              <div>
                <%= link_to "精算ページへ",  calculate_page_payments_path, class:"link-text" %>
              </div>
              <div>
                <p><%= link_to image_tag("y0849.png", class:"link-icon"), calculate_page_payments_path %></p>
              </div>
            </div>
            <%# //精算ページのリンク %>

            <%# ペア登録機能 %>
          <% else %>
              <%= form_with(url: follow_payments_path, local: true, method: :post, class:"follow-form") do |f| %>
                <div class="follow-pull-down">
                  <select name="follow_id" class="select-form">
                    <option>共有先を登録しましょう</option>
                      <% User.where.not(id: current_user.id).where(pair_id: nil).each do |user| %>
                    <option value=<%= user.id %>><%= user.nickname %>さん</option>
                      <% end %>
                  </select>
                  <input name="another_id" type="hidden" value=<%= current_user.id %>>
                </div>
                <div class="follow-btn">
                  <%= f.submit "登録する" ,class:"follow-btn" %>
                </div>
              <% end %>
          <% end %>
            <%# // ペア登録機能 %>
        </div>
      </div> 

    </div>

    <div class="page-right">

        <%# 支払い情報表示欄 %>
      <div class="payment-info">
        <p class="page-right-title">明細一覧</p>
          <% @payments.each do |payment| %>
            <div class="contents">
              <div class="left-content">
                <div class="content-date">
                  <p><%= payment.registration_date %></p>
                </div>
                <div class="content-pay">
                  <p> 金額 ￥<%= payment.price %>円 </p>
                </div>
                <div class="content-category">
                  <p>カテゴリー:<%= payment.category.name %></p>
                </div>
              </div>
              <div class="right-content">
                  <%= image_tag "Orion_edit.png", class:"right-content-icon", id:"lists-icon" %>
                  <div class="lists", id="list"> 
                    <ul class="payment-lists">
                      <li class="payment-list"><%= link_to "詳細", payment_path(payment.id),method: :get, class:"detail-text" %></li>
                      <% if current_user == payment.user %>
                        <li class="payment-list"><%= link_to "編集", edit_payment_path(payment.id), method: :get, class:"detail-text" %></li> 
                        <li class="payment-list"><%= link_to "削除", payment_path(payment.id), method: :delete, data: {confirm: "本当に削除しますか？"}, class:"detail-text" %></li>
                      <% end %>
                    </ul>
                  </div>
              </div>
            </div>
          <% end %>
          <%= paginate @payments %>
      </div>
      <%# // 支払い情報表示欄 %>

    </div>
  </div>
<% end %>

<%= render "shared/footer" %>